.list-card {
    display: flex;
    flex-direction: row;
}

.list-container {
    display: inline-block;
    position: relative;
}
.list-text {
    display: inline-block;
}

.edit-container {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hiddenInput {
    display: none;
} 